* {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}

.clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

// import all component css
@import './_AppTodoList';
@import './_AddItem';
@import './_ShowItems';
